<form *ngIf="!showLogin" #userSignup="ngForm" (ngSubmit)="signup(userSignup.value)"
    class="col-lg-6 offset-lg-3 container mt-3">
    <h1 class="text-center text-secondary">User Sign-up</h1>
    <div class="mb-3">
        <label for="nameInput" class="form-label ms-1">Name</label>
        <input id="nameInput" name="name" type="text" class="form-control" placeholder="Enter your Name" ngModel>
    </div>
    <div class="mb-3">
        <label for="emailInput" class="form-label ms-1">Email</label>
        <input id="emailInput" name="email" type="email" class="form-control" placeholder="Enter your Email" ngModel>
    </div>
    <div class="mb-3">
        <label for="passInput" class="form-label ms-1">Password</label>
        <input id="passInput" name="password" type="password" class="form-control" placeholder="Enter your Password"
            ngModel>

    </div>
    <div class="mt-5 text-center">
        <button class="btn btn-primary form-control mb-3">Sign Up</button>
        <a (click)="openLogin()" class="formToggle loginText text-primary-emphasis">Already have account? Click for
            Login</a>
    </div>
</form>

<form *ngIf="showLogin" #userLogin="ngForm" (ngSubmit)="login(userLogin.value)"
    class="col-lg-6 offset-lg-3 container mt-3">
    <h1 class="text-center text-secondary">User Login</h1>
    <p class="text-danger text-center">{{authError}}</p>
    <div class="mb-3">
        <label for="emailInput" class="form-label ms-1">Email</label>
        <input id="emailInput" name="email" type="email" class="form-control" placeholder="Enter your Email" ngModel
            #email="ngModel" required email>
        <p *ngIf="email.invalid && email.touched" class="mt-1 ms-1 text-danger">Invalid input. Enter valid Email</p>
    </div>
    <div class="mb-3">
        <label for="passInput" class="form-label ms-1">Password</label>
        <input id="passInput" name="password" type="password" class="form-control" placeholder="Enter your Password"
            ngModel #password="ngModel" required minlength="3" maxlength="20">
        <p *ngIf="password.invalid && password.touched" class="mt-1 ms-1 text-danger">Invalid Password. Enter valid
            Password</p>
    </div>
    <div class="mt-5 text-center">
        <button [disabled]="userLogin.invalid" class="btn btn-primary form-control mb-3">Login</button>
        <a (click)="opensignup()" class="formToggle loginText text-primary-emphasis">Want to create account? Click for
            Signup</a>
    </div>
</form>